@use "../base/breakpoints" as *;
@use "sass:color";

.dm-button {
	cursor: pointer;
	display: block;
	width: fit-content;
	color: #fff;
	white-space: nowrap!important;
	line-height: 1.25;
	text-align: center;
	text-transform: uppercase;
	transition: all ease-in-out .15s;
	min-width: 200px!important;
	font-size: 14px;
	padding: 14px 20px;
	border-radius: 12px;

	@container dm-main (min-width: #{$bp-lg}) {
		border-radius: 20px;
		font-size: 16px;
		padding: 20px 20px;
		min-width: 266px!important;
	}

	a {
		color: inherit;
		text-decoration: none;
		font-size: inherit;
	}
	
	&:has(a) {
		background-color: transparent!important;
		padding: 0;

		a {
			display: block;
			border-radius: 20px;
			min-width: 266px !important;
			padding: 20px;
		}

		&.dm-button-primary a {
			background-color: var(--color-mauve);

			&:hover {
				background-color: var(--color-dusty-rose);
			}
		}

		&.dm-button-secondary a {
			background-color: var(--color-dusty-rose);

			&:hover {
				background-color: color.adjust(#CBA2A2, $lightness: -5%);
			}
		}

		&.dm-button-white a {
			background-color: #fff;
			color: var(--color-charcoal);

			&:hover {
				background-color: var(--color-blush);
			}
		}
	}

	&.dm-admin-button {
		min-width: 1px!important;
		height: auto;
		padding: 10px 20px;
		text-transform: unset;
		background-color: var(--color-mauve);
		justify-self: center;
		align-self: center;

		&:hover {
			color: #fff!important;
			background-color: var(--color-dusty-rose)!important;
		}

		.admin_link-wrapper {
			margin-bottom: 0;
		}
	}

	&:not(.dm-button-admin) {
		overflow: hidden;
	}

	&.dm-button-primary {
		background-color: var(--color-mauve);

		&:hover {
			background-color: var(--color-dusty-rose);
		}
	}

	&.dm-button-secondary {
		background-color: var(--color-dusty-rose);

		&:hover {
			background-color: color.adjust(#CBA2A2, $lightness: -5%);
		}
	}

	&.dm-button-white {
		background-color: #fff;
		color: var(--color-charcoal);

		&:hover {
			background-color: var(--color-blush);
		}
	}
}
