// Green
.has-green-color {
  color: var(--ag-green-100);
}
.has-green-background-color {
  background-color: var(--ag-green-100);
}

// Black
.has-black-color {
  color: #000000;
}
.has-black-background-color {
  background-color: #000000;
}

// Cyan Bluish Gray
.has-cyan-bluish-gray-color {
  color: #abb8c3;
}
.has-cyan-bluish-gray-background-color {
  background-color: #abb8c3;
}

// White
.has-white-color {
  color: #ffffff;
}
.has-white-background-color {
  background-color: #ffffff;
}

// Pale Pink
.has-pale-pink-color {
  color: #f78da7;
}
.has-pale-pink-background-color {
  background-color: #f78da7;
}

// Vivid Red
.has-vivid-red-color {
  color: #cf2e2e;
}
.has-vivid-red-background-color {
  background-color: #cf2e2e;
}

// Luminous Vivid Orange
.has-luminous-vivid-orange-color {
  color: #ff6900;
}
.has-luminous-vivid-orange-background-color {
  background-color: #ff6900;
}

// Luminous Vivid Amber
.has-luminous-vivid-amber-color {
  color: #fcb900;
}
.has-luminous-vivid-amber-background-color {
  background-color: #fcb900;
}

// Light Green Cyan
.has-light-green-cyan-color {
  color: #7bdcb5;
}
.has-light-green-cyan-background-color {
  background-color: #7bdcb5;
}

// Vivid Green Cyan
.has-vivid-green-cyan-color {
  color: #00d084;
}
.has-vivid-green-cyan-background-color {
  background-color: #00d084;
}

// Pale Cyan Blue
.has-pale-cyan-blue-color {
  color: #8ed1fc;
}
.has-pale-cyan-blue-background-color {
  background-color: #8ed1fc;
}

// Vivid Cyan Blue
.has-vivid-cyan-blue-color {
  color: #0693e3;
}
.has-vivid-cyan-blue-background-color {
  background-color: #0693e3;
}

// Vivid Purple
.has-vivid-purple-color {
  color: #9b51e0;
}
.has-vivid-purple-background-color {
  background-color: #9b51e0;
}

// Dark Black
.has-dark-black-color {
  color: var(--color-black);
}
.has-dark-black-background-color {
  background-color: var(--color-black);
}

// Mauve
.has-mauve-color {
  color: var(--color-mauve);
}
.has-mauve-background-color {
  background-color: var(--color-mauve);
}

// Dusty Rose
.has-dusty-rose-color {
  color: var(--color-dusty-rose);
}
.has-dusty-rose-background-color {
  background-color: var(--color-dusty-rose);
}

// Charcoal
.has-charcoal-color {
  color: var(--color-charcoal);
}
.has-charcoal-background-color {
  background-color: var(--color-charcoal);
}

// Warm Gray
.has-warm-gray-color {
  color: var(--color-warm-gray);
}
.has-warm-gray-background-color {
  background-color: var(--color-warm-gray);
}

// Blush
.has-blush-color {
  color: var(--color-blush);
}
.has-blush-background-color {
  background-color: var(--color-blush);
}

// Cream
.has-cream-color {
  color: var(--color-cream);
}
.has-cream-background-color {
  background-color: var(--color-cream);
}

mark {
  background-color: transparent;
}