.wp-block-domca-home-hero-section {
  max-width: unset !important;

  &__main-img {

    button {
      height: unset;
    }
  }

  .wp-block-domca-home-hero-section__main-img {
    left: auto;
    right: 50px;
    top: 15%;
  }

  .wp-block-domca-home-hero-section__main-img,
  .wp-block-domca-home-hero-section__text,
  .wp-block-domca-home-hero-section__button,
  .wp-block-domca-home-hero-section__title {
    opacity: unset;
    transform: unset;
    animation: unset;
  }
}
