@use '../../../../assets/scss/base/breakpoints' as *;

.wp-block-domca-why-it-works {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;

  @container dm-main (min-width: #{$bp-lg}) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @container dm-main (min-width: #{$bp-xl}) {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;

    @container dm-main (min-width: #{$bp-lg}) {
      margin-bottom: 40px;
    }

    @container dm-main (min-width: #{$bp-xl}) {
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    line-height: 1.17;
    font-size: 20px;

    @container dm-main (min-width: #{$bp-md}) {
      font-size: 24px;
    }

    @container dm-main (min-width: #{$bp-lg}) {
      font-size: 28px;
    }

    @container dm-main (min-width: #{$bp-xl}) {
      font-size: 34px;
    }
  }

  &__reasons {
    container-type: inline-size;
    display: grid;
    gap: 16px;
    margin: 30px auto 30px;
    max-width: 350px;

    @container dm-main (min-width: #{$bp-md}) {
      gap: 20px;
      max-width: 700px;
      grid-template-columns: repeat(2, 1fr);
      margin: 30px auto 40px;
    }

    @container dm-main (min-width: #{$bp-lg}) {
      max-width: none;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin: 40px auto 50px;
    }
  }

  &__reason {
    container-type: inline-size;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-height: 28cqw;

    @container dm-main (min-width: #{$bp-md}) {
      min-height: 15cqw;
    }

    @container dm-main (min-width: #{$bp-lg}) {
      min-height: 10.74cqw;
    }

    & p {
      position: relative;
      z-index: 20;
      margin: 0;
      padding: 0 4.36cqw;
      line-height: 1.2;
      font-size: 5.45cqw;
    }

    &-title {
      text-transform: uppercase;
      font-weight: 600;
      color: var(--color-mauve);
    }

    &-decor {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }

  &__conclusion {

    &-text,
    &-title {
      text-align: center;
      line-height: 1.12;
      font-size: 18px;

      @container dm-main (min-width: #{$bp-md}) {
        font-size: 20px;
      }

      @container dm-main (min-width: #{$bp-lg}) {
        font-size: 22px;
      }

      @container dm-main (min-width: #{$bp-xl}) {
        font-size: 25px;
      }
    }

    &-title {
      font-weight: 600;
      margin: 0;
    }

    &-text {
      margin-bottom: 0;
      margin-top: 18px;

      @container dm-main (min-width: #{$bp-lg}) {
        margin-top: 22px;
      }
    }
  }
}

