@use "./base/buttons";
@use "./base/variables";
@use "./base/common";
@use "./base/colors";
@use "./base/animations";
@use "./base/typography";
@use "./components/header";
@use "./components/footer";
@use "./components/to-top-btn";
@use "./components/language-switcher";

@import "tailwindcss/index.css";

html,
body {
  font-family: var(--montserrat-font), sans-serif;
}

body {
  container-type: inline-size;
  container-name: dm-main;
}

* {
  line-height: inherit;

  a {
    text-decoration: none;
  }
}

.dm-page-wrap {
  min-height: 100vh;
  height: 100%;

  @supports (height: 1dvh) {
    min-height: 100dvh;
  }
}