@use "./base/buttons";
@use "./base/variables";
@use "./base/common";
@use "./base/animations";
@use "./components/language-switcher";

@import "tailwindcss/index.css";

html,
body {
  font-family: var(--montserrat-font), sans-serif;
}

body {
  container-type: inline-size;
  container-name: dm-main;
}

* {
  line-height: inherit;

  a {
    text-decoration: none;
  }
}

.dm-visually-hidden {
  position: absolute;
  z-index: -100;
  clip: rect(0 0 0 0);
  opacity: 0;
}