@use 'swiper/css';
@use 'swiper/css/pagination';

@use '../../../../assets/scss/base/breakpoints' as *;

.wp-block-domca-who-is {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;

  @container dm-main (min-width: #{$bp-lg}) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @container dm-main (min-width: #{$bp-xl}) {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;

    @container dm-main (min-width: #{$bp-lg}) {
      margin-bottom: 40px;
    }

    @container dm-main (min-width: #{$bp-xl}) {
      margin-bottom: 50px;
    }
  }

  &__slides {
    position: relative;
    padding-bottom: 58px;
    margin-bottom: 30px;

    @container dm-main (min-width: $bp-md) {
      margin-bottom: 40px;
    }

    @container dm-main (min-width: $bp-lg) {
      margin-bottom: 50px;
    }

    &,
    & * {
      user-select: none;
    }

    .swiper-wrapper {
      align-items: stretch;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    --swiper-pagination-bottom: 0;
    --swiper-pagination-color: var(--color-mauve);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-horizontal-gap: 5px;

    @container dm-main (min-width: #{$bp-md}) {
      --swiper-pagination-bullet-horizontal-gap: 6px;
      --swiper-pagination-bullet-width: 12px;
      --swiper-pagination-bullet-height: 12px;
    }

    .swiper-pagination-bullet-active {
      --swiper-pagination-bullet-width: 14px;
      --swiper-pagination-bullet-height: 14px;

      @container dm-main (min-width: #{$bp-md}) {
        --swiper-pagination-bullet-width: 18px;
        --swiper-pagination-bullet-height: 18px;
      }
    }
  }

  &__slide {
    position: relative;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 6px;
    height: auto;

    &-image,
    &-text {
      margin: 0;
      position: relative;
      z-index: 20;
    }

    &-image {
      flex-shrink: 0;
      flex-grow: 0;
    }

    &-text {
      font-size: 16px;
      line-height: 1.2;
    }

    &-decor {
      position: absolute;
      display: block;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &.swiper-slide {
      transition: opacity .3s ease-in-out;

      &.swiper-slide-prev {
        opacity: 50%;
      }

      &.swiper-slide-next {
        opacity: 50%;

        @container dm-main (min-width: #{$bp-md}) {
          opacity: 100%;
        }
      }

      &.swiper-slide-next + & {
        opacity: 100%;

        @container dm-main (min-width: #{$bp-md}) {
          opacity: 50%;
        }

        @container dm-main (min-width: #{$bp-lg}) {
          opacity: 100%;
        }
      }

      &.swiper-slide-next + & + & {

        @container dm-main (min-width: #{$bp-lg}) {
          opacity: 50%;
        }
      }
    }
  }

  &__button {
    margin: 0 auto;
  }
}

