/* Montserrat Variable Font - Normal */
@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
    src: url('./Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2-variations'),
    url('./Montserrat/Montserrat-VariableFont_wght.woff') format('woff-variations'),
    url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}

/* Montserrat Variable Font - Italic */
@font-face {
    font-family: "Montserrat";
    font-display: swap;
    font-weight: 100 900;
    font-style: italic;
    src: url('./Montserrat/Montserrat-Italic-VariableFont_wght.woff2') format('woff2-variations'),
    url('./Montserrat/Montserrat-Italic-VariableFont_wght.woff') format('woff-variations'),
    url('./Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
}

/* Albert Sans Variable Font - Normal */
@font-face {
    font-family: "Albert Sans";
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
    src: url('./AlbertSans/AlbertSans-VariableFont_wght.woff2') format('woff2-variations'),
    url('./AlbertSans/AlbertSans-VariableFont_wght.woff') format('woff-variations'),
    url('./AlbertSans/AlbertSans-VariableFont_wght.ttf') format('truetype-variations');
}

/* Albert Sans Variable Font - Italic */
@font-face {
    font-family: "Albert Sans";
    font-display: swap;
    font-weight: 100 900;
    font-style: italic;
    src: url('./AlbertSans/AlbertSans-Italic-VariableFont_wght.woff2') format('woff2-variations'),
    url('./AlbertSans/AlbertSans-Italic-VariableFont_wght.woff') format('woff-variations'),
    url('./AlbertSans/AlbertSans-Italic-VariableFont_wght.ttf') format('truetype-variations');
}
