.wp-block-domca-home-transformation-journey {
  max-width: unset !important;

  .wp-block-domca-home-transformation-journey__items {

    .wp-block-domca-home-transformation-journey__item {

      button {
        width: 100%;
        height: 100% !important;
      }
    }
  }
}
