@use '../../../../assets/scss/base/breakpoints' as *;

.wp-block-domca-home-transformation-journey {
	position: relative;
	margin-top: 0;
	margin-bottom: 50px;
	padding-top: 20px;

	@container dm-main (min-width: #{$bp-md}) {
		padding-top: 50px;
	}

	@container dm-main (min-width: #{$bp-lg}) {
		margin-bottom: 70px;
		padding-top: 70px;
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 30px;

		@container dm-main (min-width: #{$bp-lg}) {
			margin-bottom: 40px;
		}
	}

	&__subtitle {
		text-align: center;
		margin: 0 auto;
		line-height: 1.17;
		font-size: 20px;

		@container dm-main (min-width: #{$bp-md}) {
			max-width: 90%;
			font-size: 24px;
		}

		@container dm-main (min-width: #{$bp-lg}) {
			font-size: 28px;
		}

		@container dm-main (min-width: #{$bp-xl}) {
			font-size: 34px;
		}

		@container dm-main (min-width: #{$bp-container}) {
			max-width: 1160px;
		}
	}

	&__items {
		display: grid;
		column-gap: 30px;
		row-gap: 30px;
		margin: 36px 0;

		@container dm-main (min-width: #{$bp-md}) {
			row-gap: 50px;
			grid-template-columns: repeat(2, 1fr);
		}

		@container dm-main (min-width: #{$bp-lg}) {
			margin: 50px 0;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item {
		position: relative;
		text-align: center;

		&-image {
			height: 60vw;

			@container dm-main (min-width: #{$bp-md}) {
				height: 30vw;
			}

			@container dm-main (min-width: #{$bp-lg}) {
				height: 21.3vw;
			}

			@container dm-main (min-width: #{$bp-container}) {
				height: 314px;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}

		&-title {
			text-transform: uppercase;
			color: var(--color-mauve);
			margin: 12px 0;

			@container dm-main (min-width: #{$bp-md}) {
				margin: 16px 0;
			}
		}

		&-text {
			line-height: 1.12;
			margin: 0 auto;
			font-size: 18px;
			max-width: 90%;

			@container dm-main (min-width: #{$bp-md}) {
				margin: 0;
				max-width: unset;
				font-size: 20px;
			}

			@container dm-main (min-width: #{$bp-lg}) {
				font-size: 22px;
			}

			@container dm-main (min-width: #{$bp-xl}) {
				font-size: 25px;
			}
		}
	}

	&__button {
		margin: 0 auto;
	}

	&__testimonial-quote {
		position: relative;
		display: block;
		max-width: 1230px;
		color: var(--color-mauve);
		margin: 50px auto 0;
		border-radius: 30px;
		background-color: #fff;
		padding: 30px 20px;

		@container dm-main (min-width: #{$bp-md}) {
			border-radius: 40px;
			padding: 40px 30px;
		}

		@container dm-main (min-width: #{$bp-lg}) {
			padding: 60px 50px;
		}

		p {
			position: relative;
			z-index: 20;
			margin: 0;
			line-height: 1.17;
			font-weight: 600;
			text-align: center;
			font-style: italic;
			font-size: 20px;

			@container dm-main (min-width: #{$bp-md}) {
				font-size: 24px;
			}

			@container dm-main (min-width: #{$bp-lg}) {
				font-size: 28px;
			}

			@container dm-main (min-width: #{$bp-xl}) {
				font-size: 34px;
			}
		}

		&_decor {
			position: absolute;
			top: -2px;
			left: 0;
			width: 101%;
			height: 101%;
			display: block;
			z-index: 10;

			@container dm-main (min-width: #{$bp-md}) {
				top: 0;
				width: 100%;
				height: 100%;
			}

			@container dm-main (min-width: #{$bp-lg}) {
				top: -4px;
				left: -4px;
				width: calc(100% + 8px);
				height: calc(100% + 8px);
			}

			path {
				fill: var(--color-mauve);
			}
		}
	}
}

